<template>
    <div class="login-container">
        <div class="fondo">
            <form @submit.prevent="Login" class="formulario">

            <div>
                <h2>
                    Iniciar sesión
                </h2>
            </div>

            <div v-if="errorMessage">
                <Error :prop1="errorMessage" :prop2="tipo" />
            </div>

            <div v-else>
                <!-- Pues no se muestra nada vea -->
            </div>
                
            <div class="campo">
                <label for="correo"> Correo: </label>
                <input 
                    id="correo"
                    type="email" 
                    placeholder="edgar@correo.com"
                    v-model="correo"
                >
            </div>

            <div class="campo">
                <label for="password"> Contraseña: </label>
                <input 
                    id="password"
                    type="password" 
                    placeholder="12345678"
                    v-model="password"
                >
            </div>


            <div class="boton">
                <input 
                    type="submit" 
                    value="Ingresar"
                >
            </div>

            <p class="leyenda"> -¿No tienes cuenta?- </p>

            <div class="redireccion">
                <RouterLink to="/registrarse" class="redireccion"> Registrate </RouterLink>
            </div>

            </form>
        </div>
    </div>
  </template>
  

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import Error from '../components/Error.vue'
import { RouterLink } from 'vue-router';

const usuarioDefecto = [
    {
        correo: 'edgar@correo.com',
        password: '12345678'
    }
]

onMounted(() => {
    if(localStorage.getItem('usuarios')){
        usuarios = JSON.parse(localStorage.getItem('usuarios') || '') || []
    }
    else{
        localStorage.setItem('usuarios', JSON.stringify(usuarioDefecto))
        usuarios = JSON.parse(localStorage.getItem('usuarios') || '') || []
    }
})

const correo = ref('')
const password = ref('')
let usuarios: any[] = []
let errorMessage = ref('')
const tipo = ref('')

const Login = () => {
    if ([correo.value, password.value].includes('')) {
            errorMessage.value = 'Todos los campos son obligatorios'
            tipo.value = 'error'
            return
    }

    let usuario = {
        correo: correo.value,
        password: password.value
    }
    
    if(validarUsuario(usuario) === false ){
        errorMessage.value = 'Correo y/o contraseña incorrecta'
        tipo.value = 'advertencia'
        return
    }

        console.log(usuario)
        errorMessage.value = ''
        tipo.value = ''
        correo.value = ''
        password.value = ''
        alert('Acceso concedido')
    
}

const validarUsuario = (usuario: any) => {
    for (const user of usuarios) {
        if (user.correo === usuario.correo && user.password === usuario.password ) {
            console.log('Credenciales correctas de usuario creado');
            return true; 
        }
    }
    return false;
}


</script>

<style>
.login-container{
    display: flex;
    justify-content: center;
    margin-top: 0%;
}

.fondo{
    background-color: #757474;
    border-radius: 1rem;
    padding: inherit;
    margin-top: 1rem;
    margin-bottom: 1rem;
/*     -webkit-box-shadow: 10px 10px 12px -3px #040d50;
    -moz-box-shadow: 10px 10px 12px -3px #040d50;
    box-shadow: 10px 10px 12px -3px #040d50; */
    width: 60%;
}

.formulario h2 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 1px #001d4b;
}

.formulario {
    width: 75%;
    margin: 0 auto;
    padding: 2rem 0;
}

.formulario .campo {
    display: grid;
    margin-bottom: 2rem;
}

.formulario label {
    color: #001d4b;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0.3rem;
}

.formulario input[type="text"],
.formulario input[type="password"],
.formulario input[type="email"] {
    background-color: #f5f5f5;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    flex: 1;
}
.formulario input[type="submit"] {
    background-color: #1048a4;
    border: none;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
    width: 100%;
    transition: background-color 300ms ease;
}

.formulario input[type="submit"]:hover {
    background-color: #042a67;
    cursor: pointer;
}

.formulario .leyenda {
    display: flex; 
    justify-content: center; 
    margin-top: 25px; 
    margin-bottom: 10px;
    font-size: 17px;
}

.formulario .redireccion {
    background-color: #10a41c;
    border: none;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
    width: 100%;
    transition: background-color 300ms ease;
}


.formulario .redireccion:hover {
    background-color: #04672d;
    cursor: pointer;
}

    
</style>