<template>
    <div class="login-container">
        <div class="fondo">
            <form @submit.prevent="Registrar" class="formulario">

            <div>
                <h2>
                    Registrarte
                </h2>
            </div>

            <div v-if="errorMessage">
                <Error :prop1="errorMessage" :prop2="tipo" />
            </div>

            <div v-else>
                <!-- Pues no se muestra nada vea -->
            </div>
                
            <div class="campo">
                <label for="correo"> Correo: </label>
                <input 
                    id="correo"
                    type="email" 
                    placeholder=""
                    v-model="correo"
                >
            </div>

            <div class="campo">
                <label for="password"> Contraseña: </label>
                <input 
                    id="password"
                    type="password" 
                    placeholder=""
                    v-model="password"
                >
            </div>

            <div class="campo">
                <label for="password"> Confirmar Contraseña: </label>
                <input 
                    id="password"
                    type="password" 
                    placeholder=""
                    v-model="confirmPassword"
                >
            </div>


            <div class="boton">
                <input 
                    type="submit" 
                    value="Registrarse"
                >
            </div>

            <p class="leyenda"> -¿Ya tienes cuenta?- </p>

            <div class="redireccion">
                <RouterLink to="/" class="redireccion"> Inicia sesión </RouterLink>
            </div>

            </form>
        </div>
    </div>
  </template>
  

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import Error from '../components/Error.vue'
import { RouterLink } from 'vue-router';
import { isReturnStatement } from 'typescript';


onMounted(() => {
     usuarios = JSON.parse(localStorage.getItem('usuarios') || '') || []
})

const correo = ref('')
const password = ref('')
const confirmPassword = ref('')
let usuarios: any[]=[]

let errorMessage = ref('')
const tipo = ref('')

const Registrar = () => {
    if ([correo.value, password.value, confirmPassword.value].includes('')) {
            errorMessage.value = 'Todos los campos son obligatorios'
            tipo.value = 'error'
            return
    }

    if(confirmPassword.value !== password.value){
        errorMessage.value = 'La contraseñas no coinciden'
        tipo.value = 'advertencia'
        return
    }

    if (validarCorreo(correo.value) === false) {
        console.log('Ya registrado');
        return
    }

    let usuario = {
        correo: correo.value,
        password: password.value,
    }
    
        console.log(usuario)
        guardarUsuarios(usuario)
        
        errorMessage.value = ''
        tipo.value = ''
        correo.value = ''
        password.value = ''
        confirmPassword.value = ''

        alert('Usuario agregado con exito!')
    
}

const guardarUsuarios = (usuario: any) => {
    usuarios.push(usuario)
    localStorage.setItem('usuarios', JSON.stringify(usuarios))
    console.log('Usuario agregado');
    return
}

const validarCorreo = (correo: any) => {
    for (const user of usuarios) {
        if (user.correo === correo) {
            console.log('Correo ya registrado');
            errorMessage.value = 'Correo ya registrado';
            tipo.value = 'error';
            return false; 
        }
    }
    return true;
}


</script>

<style>
.login-container{
    display: flex;
    justify-content: center;
    margin-top: 0%;
}

.fondo{
    background-color: #757474;
    border-radius: 1rem;
    padding: inherit;
    margin-top: 1rem;
    margin-bottom: 1rem;
/*     -webkit-box-shadow: 10px 10px 12px -3px #040d50;
    -moz-box-shadow: 10px 10px 12px -3px #040d50;
    box-shadow: 10px 10px 12px -3px #040d50; */
    width: 60%;
}

.formulario h2 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 1px #001d4b;
}

.formulario {
    width: 75%;
    margin: 0 auto;
    padding: 2rem 0;
}

.formulario .campo {
    display: grid;
    margin-bottom: 2rem;
}

.formulario label {
    color: #001d4b;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0.3rem;
}

.formulario input[type="text"],
.formulario input[type="password"],
.formulario input[type="email"] {
    background-color: #f5f5f5;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    flex: 1;
}
.formulario input[type="submit"] {
    background-color: #1048a4;
    border: none;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
    width: 100%;
    transition: background-color 300ms ease;
}

.formulario input[type="submit"]:hover {
    background-color: #042a67;
    cursor: pointer;
}

.formulario .leyenda {
    display: flex; 
    justify-content: center; 
    margin-top: 25px; 
    margin-bottom: 10px;
    font-size: 17px;
}

.formulario .redireccion {
    background-color: #10a41c;
    border: none;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
    width: 100%;
    transition: background-color 300ms ease;
}


.formulario .redireccion:hover {
    background-color: #04672d;
    cursor: pointer;
}

    
</style>