<template>
    <div>
        <MascotaItem 
            v-for="(paciente, index) in MascotaData" :key="index" 
            v-bind="paciente"
        />
        
    </div>
</template>

<script setup lang="ts">
import MascotaData from '../data/MascotaData'
import MascotaItem from './MascotaItem.vue';

</script>

<style>
    
</style>