@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;

}

@media (hover: hover) {
  a:hover {
    background-color: hsla(224, 100%, 37%, 0.2);
  }
}


