<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>

      <nav>
        <RouterLink to="/">Iniciar Sesion</RouterLink>
        <RouterLink to="/registrarse">Registrarse</RouterLink>
        <RouterLink to="/crud">CRUD</RouterLink>
      </nav>

  </header>

  <RouterView />

</template>

<style scoped>



nav {
  font-size: 20px;
  text-align: center;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

</style>
